// variable 
$bg-color-1:#F15B43;
$bg-color-2:#4CB7A5;
$bg-color-3:#001334;
$bg-color-4:#fff;
$bg-color-5:#091B3F;
$bg-color-6:#F4F3F1;
$bg-color-7:black;
$bg-color-8:gray;
$bg-color-9:#CBCBC9;
$bg-color-10:#101C36;
$bg-color-11:#FBDED6;
$bg-color-12:#ccc;